<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Matthew Hicks</title>
    <script
      src="https://kit.fontawesome.com/1c419ff03d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="apple-touch-icon" sizes="180x180" href="static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon/favicon-16x16.png">
    <link rel="manifest" href="static/favicon/site.webmanifest">

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
    <link rel="preload" href="static/NSF-logo.png" as="image">

    <link rel="stylesheet" href="static/index.css" />

  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="index.html"
          ><img src="static/FoRTE_Logo.png" alt="logo" class="img-fluid"
        /></a>
        <button
          class="navbar-toggler ml-auto"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarsExample11"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarsExample11">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('team') }}">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#research">Research</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#publications">Publications</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#software">Software</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#teaching">Teaching</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#funding">Funding</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#advice">Advice</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#acknowledgements">Acknowledgements</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid bg-dark">
      <div class="row">
        <div class="col-12">
          <h1><b>Matthew Hicks</b></h1>
          <hr />
        </div>
        <div class="col-12 col-md-4">
          <img src="static/Dr.HicksPI.jpeg" alt="Avatar" class="avatar" />
        </div>
        <div class="col-12 col-md-4">
          <h4>Associate Professor</h4>
          <p>Department of Computer Science</p>
          <p>Virginia Tech</p>
          <p>Blacksburg, VA 24060</p>
          <div class="social-links">
            <a href="https://github.com/FoRTE-Research" target="_blank"
              ><i class="fa fa-github"></i
            ></a>
            <a
              href="https://www.linkedin.com/in/matthew-hicks-0b433975/"
              target="_blank"
              ><i class="fa fa-linkedin"></i
            ></a>
            <a
              href="https://scholar.google.com/citations?user=_rJCgzIAAAAJ&hl=en"
              target="_blank"
              ><i class="ai ai-google-scholar ai-lg"></i
            ></a>
            <a href="mailto:mdhicks2@VT.edu" target="_blank"
              ><i class="fa fa-envelope"></i
            ></a>

            <a
              href="http://static1.1.sqspcdn.com/static/f/543048/28597200/1685974367567/cv.pdf?token=M6jOLIk%2FCFaZGZA9RAcBNx0KXiA%3D"
              class="icon-link"
            >
              <div class="cv-icon">CV</div>
            </a>
          </div>
        </div>
        <div class="col-12 col-md-4" >
          <img src="static/FoRTE_Logo.png" alt="FoRTE_Logo.png" class="img-fluid" id="container-logo">
        </div>

      </div>
    </div>

<!-- About Me Section   -->
    <div class="aboutme">
      <h2>About me</h2>
      <p>
        I am an Associate Professor in the Computer Science Department at
        <a href="https://www.vt.edu/">Virginia Tech</a>. Previously, I was a
        member of the technical staff at MIT Lincoln Laboratory. Before that, I
        was a Lecturer at the University of Michigan, where I taught courses on
        Security and Programming. Between 2013 and 2015, I was a Postdoc working
        with Todd Austin (Architecture) and Kevin Fu (Security) at the
        University of Michigan. In May of 2013, I earned a PhD in Computer
        Science (advised by Sam King, now at UC-Davis) at the University of
        Illinois Urbana-Champaign, where I also earned my Masters in 2008. I
        earned my BS in Computer Science from the University of Central Florida
        in May 2006. Broadly, I am interested in
        <b>systems, security, and architecture</b>. My current research spans
        the security of hardware, hardware for increased software security,
        embedded system security, and intermittently computation. I am
        especially interested in how hardware changes over time and how it fails
        with respect to security. Previous research projects include, crafting
        and detecting malicious insertions into hardware and hardware support
        for real-time and embedded systems.
      </p>
    </div>

<!-- News Section   -->
    <div class="news">
      <h2>News & Updates</h2>
      <ul>
        {% for entry in news %}
        <li>
          <h4>{{  entry.month  }} {{  entry.year  }}</h4>
          <p>{{  entry.description  }}
            <br>
            {% if entry.link != "#" %}
              <a href= "{{  entry.link  }}">link</a>
            {% else %}
              <a href= "{{  entry.link  }}" onclick="event.preventDefault();">link</a>
            {% endif %}
          </p>
        </li>
        {% endfor %}
      </ul>
    </div>

<!-- Research Section   -->
    <div class="research" id="research">
      <h2>Research Summary</h2>
      <table class="table">
        <tbody>
          <tr >
            <td>
              <h4>Binary Analysis / Fuzzing:</h4>
            </td>
            <td>
              <button class="btn btn-primary">USENIX</button>
              <button class="btn btn-primary">USENIX</button>
              <button class="btn btn-primary">USENIX</button>
              
            </td>
          </tr>
          <tr>
            <td>
              <h4>Binary Analysis / Fuzzing:</h4>
            </td>
            <td>
              <button class="btn btn-primary">USENIX</button>
              <button class="btn btn-primary">USENIX</button>
            </td>
          </tr>
          <tr>
            <td>
              <h4>Binary Analysis / Fuzzing:</h4>
            </td>
            <td>
              <button class="btn btn-primary">USENIX</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

<!-- Publications Section   -->
    <div class="publications" id="publications">
      <h2>Publications</h2>
      <div class="row">
        <div class="col-2">
          <h4>2023</h4>
        </div>
        <div class="col-10">
          <h5>Fall 2022 - CS 4264 - Principles of Computer Security</h5>
          <p><b>Matthew Hicks</b>, Leo Stone, Rishi Ranjan, Stefan Nagy, and</p>
          <p>USENIX Security Symposium (<b>USENIX</b>). August 2023.</p>
        </div>
        {% for entry in cleaned_publications %}
          <div class="col-2">
            <h4>{{  entry.year  }}</h4>
          </div>
          <div class="col-10">
            <h5>{{  entry.title  }}</h5>
            <p>
              {% set authors = entry.author.split(' and ') %}
              {% for author in authors %}
                {%- if author == "Matthew Hicks" or author == "Hicks, Matthew" -%}
                  <b>{{  author  }}</b>
                {%- else -%}
                  {{ author }}
                {%- endif -%}
                {% if not loop.last %}, {% endif %}
              {% endfor %}
            </p>
            <p>{{  entry.booktitle  }} (<b>{{  entry.series  }}</b>). {{  entry.month  }} {{  entry.year  }}.</p>
          </div>
        {% endfor %}
      </div>
    </div>
    </div>

<!-- Software Section   -->
    <div class="software" id="software">
      <h2>Software</h2>
      <div class="row">
        {% for entry in software %}
          <div class="col-10">
            <h4>
              {% if entry.venue %}
                <b>{{  entry.name  }}</b> {{  entry.venue  }}: {{  entry.description  }}
              {% else %}
                <b>{{  entry.name  }}:</b> {{  entry.description  }}
              {% endif %}
            </h4>
          </div>
          <div class="col-2">
            <a href="{{  entry.link  }}">
              {% if loop.index == 2 %}
                <button class="btn btn-primary">GitLab</button></a>
              {% else %}
                <button class="btn btn-primary">GitHub</button></a>
              {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>

<!-- Teaching Section   -->
    <div class="teaching" id="teaching">
      <h2>Teaching</h2>
      <div class="row">
        {% for entry in teaching %}
          <div class="col-10">
            <h4><b>{{  entry.code  }}</b> {{  entry.course_name  }} [{{  entry.semester  }} {{  entry.year  }}]</h4>
          </div>
          {% if entry.link != "#" %}
            <div class="col-2">
              <a href="{{  entry.link  }}" ><button class="btn btn-primary">Website</button></a>
            </div>
          {% else %}
            <div class="col-2">
              <a href="{{  entry.link  }}" onclick="event.preventDefault();" ><button class="btn btn-primary">Website</button></a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>

<!-- Funding Section   -->
    <div class="funding" id="funding">
      <h2>Funding</h2>
      <ul>
        {% for entry in funding %}
          <li>
            <span>{{  entry.title  }}</span>
            <ul>
              <li><strong>Sponsor:</strong> {{  entry.sponsor  }}</li>
              <li>
                <strong>Project timeframe:</strong> {{  entry.start_date  }} to {{  entry.end_date  }}
              </li>
              <li><strong>Team:</strong> {{  entry.team  }}</li>
              <li><strong>Total:</strong> {{  entry.total  }}</li>
              <li><strong>Department share:</strong> {{  entry.dept_share  }}</li>
              <li><strong>My share:</strong> {{  entry.my_share  }}</li>
            </ul>
          </li>
        {% endfor %}
      </ul>
    </div>

<!-- Advice Section   -->
    <div class="advice" id="advice">
      <h2>Advice</h2>
      <h5>Ph.D. dissertation/research advice:</h5>
      <ul>
        {% for entry in advdata %}
          <li>
            <a href="#"><p>{{  entry  }}</p></a>
          </li>
        {% endfor %}
      </ul>
    </div>

<!-- Acknowledgements Section   -->
    <div class="acknowledgements" id="acknowledgements">
      <h2>Acknowledgements</h2>
      <div class="row">
        <div class="col-4">
          <img
            src="static/NSF-logo.png"
            alt="NSF-logo"
            class="img-fluid"
            loading="lazy"
          />
        </div>
        <div class="col-4">
          <img
            src="static/darpalogo.png"
            alt="DARPA Logo"
            class="img-fluid"
            loading="lazy"
          />
        </div>
        <div class="col-4">
          <img
            src="static/Xilinx-Logo.png"
            alt="Xilinx-Logo"
            class="img-fluid"
            loading="lazy"
          />
        </div>
      </div>
    </div>

    <footer
      class="text-center text-lg-start text-white"
      style="background-color: rgb(134, 31, 65)"
    >
      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 mt-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold">FoRTE Research Group</h6>
              <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
              />
              <p>
                The FoRTE Research Group is a research group in the Department
                of Computer Science at Virginia Tech. We are interested in
                systems, security, and architecture.
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 mt-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Contact</h6>
              <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
              />
              <p>
                <i class="fas fa-map-marker-alt mr-3" id="icon"></i> Gilbert
                Place, 220 Gilbert Street,<br /><span id="address"
                  >Lab 4305, Blacksburg, VA 24060S</span
                >
              </p>
              <p>
                <i class="fas fa-envelope mr-3" id="icon"></i> mdhicks2@vt.edu
              </p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->

<!-- Copyright -->
<div
   class="text-center p-0"
   style="background-color: rgb(92, 22, 45); color: white"
   >
   <p style="font-size: 14px;">&copy; Matthew Hicks. All rights reserved.</p>
</div>
<!-- Copyright -->
</footer>
    
    

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
